.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: #4a90e2;
  color: rgb(104, 212, 109);
  width: 100%; 
  box-sizing: border-box;
}

.main {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  width: 100%;             
  background-color: #7d8792;
}
